/*body*/
*{
    margin: 0;
    padding: 0;
}
::selection{
  background-color: #198754;
  color: #fff;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #198754;
  border-radius: 10px;
}
body{
    background: none;
    font-family: 'Droid Arabic Kufi', sans-serif;
}
a{
  color:inherit;
  text-decoration:none;
  -moz-transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
  -o-transition: all 250ms linear;
}
a:hover{
  color: rgb(230, 62, 62) !important;
  transition: all 0.5s;
}
#to-top {
  display: none;
  position:fixed;
  bottom: 10px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 210;
  border: none;
  outline: none; 
  background-color: #198754;
  cursor: pointer; 
  border-radius: 40px;
  -moz-transition: all 250ms linear;
  -webkit-transition: all 250ms linear;
  -o-transition: all 250ms linear;
}
#to-top i{
    line-height: 40px;
    font-size: 17px;
    color: #fff;
}
#to-top:hover {
    background-color: rgb(230, 62, 62);
    transition: all 0.5s;
}
.btn-fullpquran{
  display: none;
}
/*dark-mode*/
.dark-theme .quran-ari{
  background-color: #282C34 !important;
  color: #ABB2BF;
}
.dark-theme .quran-ari img{
  filter: invert(100%);
}
.dark-theme .text-success{
  color: #ABB2BF !important;
}
.dark-theme a:hover{
  color: rgb(230, 62, 62) !important;
  transition: all 0.5s;
}
.dark-theme .table > :not(caption) > * > * {
  color: #ABB2BF !important;
  border-color: #ABB2BF !important;
}
.dark-theme .border {
  border-color: #ABB2BF !important;
}
/*dark-mode*/

.fullpagequran header {
  display: none;
}
.fullpagequran .btn-fullpquran{
  display: block;
}
.fullpagequran footer {
  display: none;
}
.fullpagequran .card-header {
  display: none;
}
.fullpagequran .card-footer {
  display: none;
}


